
.top-bar-section {
	text-align: center;
}

.top-bar-section ul {
	display: inline-block;
}

body {
	position: relative;
}

.content {
	margin-top: 40px;
}

.ctrl-bar {
	position: fixed;
	bottom: 0;
}

.ctrl-item {
	color: white;
	font-size: 2.5em;
}
